{% extends "base.html.twig" %}

{% block title %}Checkout Success{% endblock %}

{% block body %}
    <div class="slide checkout">
        <div class="wrapper">
            <div class="slideFormulaire">
                <img src="/logo/Union.png" alt="Logo de coup de patte">
                <div class="formulaire afterStripe">
                    <h4>Coup de patte vous remercie pour votre donation !</h4>
                    <a href="/" class="backButton">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
