{% extends "base.html.twig" %}

{% block title %}Faire adopter : {{adoption.name}}{% endblock %}

{% block body %}
    <div class="slide">
        <div class="wrapper">
            {% for label, messages in app.flashes %}
                <div class="container mt-3">
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            <p>{{ message | raw }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}