{% extends "base.html.twig" %}

{% block title %}Checkout Success{% endblock %}

{% block body %}
    <div class="slide checkout">
        <div class="wrapper">
            <div class="slideFormulaire">
                <img src="/logo/Union.png" alt="Logo de coup de patte">
                <div class="formulaire afterStripe">
                    <h4>Coup de patte vous remercie pour votre achat !</h4>
                    <h5>Voici le résumé de votre achat :</h5>
                    <p>{{cart.cart | nl2br}}</p>
                    <h6>Montant total : {{cart.total}} €</h6>
                    <p>Nous nous occupons de distribuer la/les friandises le plus rapidement possible.</p>
                    <a href="/" class="backButton">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        if(localStorage.getItem('listCart')){
            localStorage.setItem('listCart',[])
        }
        if(localStorage.getItem('numberAchat')){
            localStorage.setItem('numberAchat',0)
        }
    </script>
{% endblock %}
