{% extends "base.html.twig" %}

{% block title %}Checkout Success{% endblock %}

{% block body %}
    <div class="slide checkout">
        <div class="wrapper">
            <h6>Réussi</h6>
        </div>
    </div>
{% endblock %}
