<footer>
    <div class="wrapper">
        <div class="green">
            <img src="/logo/Union.png" alt="Logo Coup de patte">
                <div class="infos">
                    <div class="informations">
                    <h5>Coup de Patte</h5>
                    <div class="information">
                        <i class="fa-solid fa-phone"></i>
                        <p>0123456789</p>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-envelope"></i>
                        <p>coupdepatte@gmail.be</p>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Rue des refuges 1070 Anderlecht</p>
                    </div>
                </div>
                <div class="horaires">
                    <h5>Horaires d'ouvertures</h5>
                    <div class="horaire">
                        <p>Lundi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Mardi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Mercredi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Jeudi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Vendredi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Samedi :</p>
                        <p>10h - 14h</p>
                    </div>
                    <div class="horaire">
                        <p>Dimanche :</p>
                        <p>Fermé</p>
                    </div>
                </div>
                <div class="liens">
                    <h5>Liens</h5>
                    <a href="#">Mentions légales</a>
                    <a href="#">Faire adopter votre animal</a>
                    <a href="#">Faire un don</a>
                    <a href="#">Blog</a>
                </div>
                <div class="socials">
                    <h5>Réseaux sociaux</h5>
                    <div class="social">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="black">
        <h6>&copy; Copyright Sacré Alexandre</h6>
    </div>
</footer>