@import "mixins.scss";
@import "variables.scss";

/* Affichage de l'adoption */

.showAdoption{
    margin-bottom: 50px;
    display: flex;
    img{
        height:80vh;
        max-width: 40%;
        object-fit: cover;
    }

    .informationsAdoption{
        margin-left: 20px;

        p{
            @include roboto-regular;
        }
    }
}

/* Media queries */

@media all and (max-width:1000px)
{
    .showAdoption{
        flex-direction: column;
        img{
            max-width: 100%;
            height: 60vh;
            object-fit: contain;
            margin-bottom: 20px;
        }
    }
}