@import "mixins.scss";
@import "variables.scss";

.animalSlide{
    .wrapper{
        h4{
            @include roboto-regular;
            margin-top: 50px;
        }
        .animaux{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 30px;
            margin-bottom: 20px;

            .animal{
                position: relative;
                width: 100%;
                height: 50vh;
                transition: all 1s;

                img{
                    width: 100%;
                    height:100%;
                    object-fit: cover;
                }

                .infos{
                    display: flex;
                    position: absolute;
                    top:0;
                    left:0;
                    background-color: rgba(49, 80, 38,70%);
                    width: 100%;
                    height:100%;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transition: all 0.5s;
                    transform: translateY(10%);
                    opacity: 0;

                    h5,h6{
                        @include roboto-regular;
                        color: white;
                        margin: 0 20px 20px;
                        text-align: center;
                    }
                    h5{
                        font-size: 28px;
                    }
                    h6{
                        font-size: 22px;
                    }
                    a{
                        border: solid 1px white !important;
                        @include aFront;
                    }
                }

                .infos.active{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}

/* Affichage d'un animal */

.showAnimal{
    .wrapper{
        .buttons{
            display: flex;
            align-items: center;

            .buttonNotFavoris,.buttonIsFavoris{
                background-color: $greenColor;
                height:40px;
                padding: 0 35px;
                border-radius: 10px;
                border: none;
                font-size: 22px;
                margin: 20px 0 20px 10px;
                width: fit-content;
                display: inline-block;
                line-height: 40px;
                text-decoration: none;
                @include roboto-regular;
    
                &:hover{
                    background-color: $white;
                    border: solid 1px $greenColor;
                }
            }
            .buttonIsFavoris{
                color: red;
            }
            .buttonNotFavoris{
                color: black;
            }
        }
        .showAnimalInfo{
            margin-bottom: 50px;
            display: flex;
            img{
                height:80vh;
                max-width: 40%;
                object-fit: cover;
            }
        
            .informationsAdoption{
                margin-left: 20px;
        
                p{
                    @include roboto-regular;
                }
            }
        }
        h5{
            @include roboto-regular;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .achatFriandise{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            .friandises{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .friandise{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    margin-bottom: 20px;

                    img{
                        width: 100%;
                    }
                    h6{
                        @include roboto-regular;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    .numberFriandise{
                        display: flex;
                        margin: 20px 0;
                        p{
                            @include roboto-regular;
                            font-size: 1rem;
                        }
                        .number{
                            margin: 0 20px;
                        }
                        .add,.remove{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}


/* media queries */

@media all and (max-width:1400px)
{
    .animalSlide{
        .wrapper{
            .animaux{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}

@media all and (max-width:1000px)
{
    .animalSlide{
        .wrapper{
            .animaux{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
    .showAnimal{
        .wrapper{
            .showAnimalInfo{
                flex-direction: column;
                img{
                    max-width: 100%;
                    height: 60vh;
                    object-fit: contain;
                    margin-bottom: 20px;
                }
            }
            .achatFriandise{
                .friandises{
                    .friandise{
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media all and (max-width:700px)
{
    .animalSlide{
        .wrapper{
            .animaux{
                grid-template-columns: 1fr;
                width: 60%;
                margin: 0 auto;
            }
        }
    }
}

@media all and (max-width:500px)
{
    .animalSlide{
        .wrapper{
            .animaux{
                width: 100%;
            }
        }
    }
    .showAnimal{
        .wrapper{
            .achatFriandise{
                .friandises{
                    .friandise{
                        width: 80%;
                    }
                }
            }
        }
    }
}