@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "mixins.scss";
@import "variables.scss";

.slide{
    width:100%;
    min-height: 100vh;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

/* Header */
header{
    width: 100%;
    height:100px;
    background-color: $greenColor;
    display: flex;
    z-index: 199;

    .wrapper{
        display: flex;

        .logo{
            display: flex;
            align-items: center;

            img{
                width: 75px;
            }
            h4{
                font-size: 22px;
                color: $white;
                margin-left: 10px;
            }
        }

        nav{
            width: 100%;
            display: flex;
            justify-content: end;
            z-index: 198;
            ul{
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                li{
                    width: 150px;
                    text-align: center;

                    a{
                        display: block;
                        width: 100%;
                        color: $white;
                        line-height: 100px;
                        @include roboto-regular;
                        color: $white;
                        text-decoration: none;

                        &:hover{
                            font-size: 20px;
                        }
                    }
                    i{
                        line-height: 100px;
                        color: $white;
                        font-size: 1.4rem;
                    }
                    .fa-bag-shopping:hover{
                        font-size: 1.6rem;
                    }
                    h6{
                        line-height: 100px;
                        margin-bottom: 0;
                        color: $white;
                        @include roboto-regular;
                    }

                    &:hover ul li{
                        display: block;
                        flex: 1;
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        li{
                            display: none;
                            background-color: $greenColor;
                        }
                    }
                }
            }
        }
    }
}


/* Menu Burger */

#burger {
    width: 50px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

/* Barre du menu burger */

.bar {
    transition: all 0.5s;
    width: 100%;
    height: 3px;
    background-color: $white;
    margin-bottom: 8px;
}

/* Menu Burger ouvert */

header.menuOpened .bar {
    transform: rotate(45deg) translate(5px, 5px);

    &:nth-child(2) {
        opacity: 0;
    }

    &:last-child {
        transform: rotate(-45deg) translate(10px, -12px);
    }
}

/* Menu */

#menu{
    display: none;
    transform: translateX(100%);
	z-index: 99;
	transition: all 0.4s ease-in-out;

    .right{
        display: none;
    }
}

#menu.menuOpened{
    display: flex;
    transform: translateX(0);

    .left{
        width: 70%;
        min-height: 100vh;
        background-color: rgba(49, 80, 38,35%);
    }

    .right{
        min-height: 100vh;
        width: 30%;
        background-color: rgba(49, 80, 38,100%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
        bottom: -200px;

        .menuLink{
            margin: 50px 0 20px 20px;

            i{
                color: $white;
            }

            .fa-bag-shopping{
                cursor: pointer;
            }
            
            a{
                color: $white;
                text-decoration: none;
                @include roboto-regular;

                &:hover{
                    font-size: 22px;
                }
            }
            span{
                color:$white;
                @include roboto-regular;
            }
            .menuContainer{
                display: flex;
                align-items: center;
                transition: all 0.4s ease-in-out;

                i{
                    color: $white;
                }

                h6{
                    color: $white;
                    margin-bottom: 0;
                    @include roboto-regular;
                }

                .fa-chevron-right{
                    color: $white;
                    margin-left: 20px;
                    cursor: pointer;
                }

                .chevronOpen{
                    rotate: 90deg;
                }
                
            }

            .link{
                display: none;
            }

            .linkOpen{
                display: flex;
                flex-direction: column;
                
                a{
                    margin-left: 20px;
                    @include roboto-regular;
                }
            }
        }
    }
}

/* Footer */
footer{
    width: 100%;
    background-color: $greenColor;
    overflow: hidden;

    /* Informations */
    .green{
        width: 100%;
        background-color: $greenColor;
        display: flex;
        margin-top: 20px;

        img{
            width: 150px;
            object-fit: contain;
            margin-right: 75px;
        }

        .infos{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width:100%;

            .informations{
                display: flex;
                flex-direction: column;
                color: $white;
                margin-right: 20px;

                h5{
                    margin-bottom: 20px;
                    font-size: 22px;
                    @include roboto-regular;
                }
    
                .information{
                    display: flex;
    
                    i{
                        margin-right: 20px;
                        font-size: 1.5rem
                    }
    
                    p{
                        @include roboto-regular;
                    }
                }
            }
    
            .horaires{
                display: flex;
                flex-direction: column;
                color: $white;
                margin-right: 20px;
    
                h5{
                    margin-bottom: 20px;
                    font-size: 22px;
                    @include roboto-regular;
                }
    
                .horaire{
                    display: flex;
                    justify-content: space-between;
    
                    p{
                        @include roboto-regular;
                    }
                }
            }
    
            .liens{
                display: flex;
                flex-direction: column;
                color: $white;
                margin-right: 20px;
    
                h5{
                    margin-bottom: 20px;
                    font-size: 22px;
                    @include roboto-regular;
                }
    
                a{
                    @include roboto-regular;
                    text-decoration: none;
                    margin-bottom: 10px;
                    color: $white;
    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
    
            .socials{
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                color: $white;

                h5{
                    margin-bottom: 20px;
                    font-size: 22px;
                    @include roboto-regular;
                }
    
                .social{
                    display: flex;
                    flex-direction: column;

                    i{
                        font-size: 2rem;
                        margin-bottom: 20px;
                        color: $white;
                    }
                }
            }
        }
    }

    /* Copyright */
    .black{
        height:50px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        margin-bottom: 0;

        h6{
            @include roboto-regular;
            font-size: 16px;
        }
    }
}

/* Slide admin */

.slideAdmin {
    min-height: 100vh;
    width: 100%;
    background-color: $white;

    .wrapper {
        width: 80%;
        margin: 0 auto;

        .form {
            .titleBack {
                h2 {
                margin-top: 50px;
                margin-bottom: 20px;
                }

                a {
                margin-bottom: 30px;
                }
            }

            textarea {
                resize: none;
                min-height: 300px;
            }

            .imageAdminUpdate{
                height:50vh;
            }
        }
    }
}

/* Alerte de suppression */

.alertDelete {
    display: none;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 80%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;

    .containerDelete {
        width: 50%;
        padding: 40px 5px;
        background-color: $white;
        border: black solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4{
        margin-left: 10px;
        }

        .deleteChoice {
        margin-top: 20px;
        }
    }

    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* voir ou cacher le mdp */
#passwordLogin {
    display: flex;
    align-items: end;
    flex-direction: column;

    label {
        align-self: flex-start;
    }
}
  
.toggle-password-button {
    margin-top: 5px;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

/* Page Erreur */

.erreur{
    display: flex;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            height: 50vh;
            object-fit: contain;
            margin-top: 75px;
        }

        .textErreur{
            margin: 30px 0 75px;

            h4{
                @include roboto-regular;
                font-size: 40px;
                color: red;
                margin-bottom: 30px;
            }
            h5{
                @include roboto-regular;
                font-size: 32px;
                margin-bottom: 20px;
            }
            a{
                @include aFront;
            }
        }
    }
}

/* BackButton */

.backButton{
    cursor: pointer;
    @include aFront;
}

/* Alerte Transfer */

.alertTransferContainer{
    display: none;
    width:100%;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255,80%);
    justify-content: center;
    align-items: center;

    .alertTransfer{
        border: solid 2px black;
        width: 80%;
        min-height: 20vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Mentions légales */ 

.legals{
    
    #mentions_title{
        margin-top: 25px;
        a{
            @include aFront;
        }
    }
    #mentions_text{
        margin-bottom: 25px;
    }
}

/* focus des input */
.form-control:focus {
    box-shadow: none !important;
}
  
/* Pagination */

.selfPagination{
    .arrow{
        background-color: none;
        margin: 0 10px;
        a{
            border: none;
            color: black;
            font-size: 25px;
        }
        &.disabled{
            display: none;
        }
    }
    .number{ 
       a{
            border: solid 1px black;
            border-radius: 10px;
            color: black;
            font-size: 22px;
            padding: 0 10px;
            margin: 8px 5px;
       }
       &.active a{
        color: $white;
        background-color: $greenColor;
       }
    }
}

/* Panier */
.panier{
    .wrapper{
        .slideFormulaire{
            .formulaire{
                .cart{
                    .divAchat{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;

                        p{
                            margin-right: 20px;
                            margin-bottom: 0;
                            @include roboto-regular;
                        }
                        .delButton{
                            background-color: red;
                            padding: 2px 10px;
                            border-radius: 10px;
                            color: $white;
                            cursor: pointer;
                            user-select: none;
                        }
                    }
                }
                .total{
                    @include roboto-bold;
                    font-size: 22px;
                }
                form{
                    #cart{
                        div{
                            /* on supprime l'affichage du ticket et du montant total du formulaire */
                            &:nth-child(4),&:nth-child(5){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Media queries */ 

@media all and (max-width:1200px){
    #burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
      nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        ul {
          display: none !important;
        }
      }
}

@media all and (max-width:850px){
    /* Footer */
    .green{
        flex-direction: column;

        img{
            margin: 20px 0;
            display: flex;
            align-self: center;
        }
    }
}

@media all and (max-width:730px){

    #menu.menuOpened{
        .right{
            width: 50%;
        }
        .left{
            width:50%;
        }
    }
}

@media all and (max-width:570px){
    /* Footer */
    .infos{
        flex-direction: column;
        align-items: center;
        text-align: center;
        .socials{
            .social{
                justify-content: space-evenly;
                flex-direction: row !important;
            }
        }
    }
}

@media all and (max-width:450px){

    #menu.menuOpened{
        .right{
            width: 100%;
        }
        .left{
            width:0%;
        }
    }
}
