@import "variables.scss";

/* Roboto 400 */
@mixin roboto-regular{
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-style: normal;
}

/* Roboto Bold */
@mixin roboto-bold{
    font-family: "Roboto", "sans-serif";
    font-weight: bold;
    font-style: normal;
}

/* Romanesco 400 */
@mixin romanesco-regular{
    font-family: "Romanesco", "cursive";
    font-weight: 400;
    font-style: normal;
}

/* Button */
@mixin buttonFront{
    background-color: $greenColor;
    height:40px;
    padding: 0 35px;
    border-radius: 10px;
    border: none;
    color: $white;
    font-size: 18px;
    margin: 20px 0;
    @include roboto-regular;

    &:hover{
        background-color: $white;
        color: $greenColor;
        border: solid 1px $greenColor;
    }
}

/* a pour les buttons */
@mixin aFront{
    width: fit-content;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    @include buttonFront;
}
