@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "mixins.scss";
@import "variables.scss";

.slide{
    width:100%;
    min-height: 100vh;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

/* Slide admin */

.slideAdmin {
    min-height: 100vh;
    width: 100%;
    background-color: $white;

    .wrapper {
        width: 80%;
        margin: 0 auto;

        .form {
            .titleBack {
                h2 {
                margin-top: 50px;
                margin-bottom: 20px;
                }

                a {
                margin-bottom: 30px;
                }
            }

            textarea {
                resize: none;
                min-height: 300px;
            }

            .imageAdminUpdate{
                height:50vh;
            }
        }
    }
}

/* Administration */
tbody{
    tr{
        td{
        word-break: break-word;
        }
    }
}
  

/* Alerte de suppression */

.alertDelete {
    display: none;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 80%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;

    .containerDelete {
        width: 50%;
        padding: 40px 5px;
        background-color: $white;
        border: black solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4{
        margin-left: 10px;
        }

        .deleteChoice {
        margin-top: 20px;
        }
    }

    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* voir ou cacher le mdp */
#passwordLogin {
    display: flex;
    align-items: end;
    flex-direction: column;

    label {
        align-self: flex-start;
    }
}
  
.toggle-password-button {
    margin-top: 5px;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

/* Page Erreur */

.erreur{
    display: flex;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            height: 50vh;
            object-fit: contain;
            margin-top: 75px;
        }

        .textErreur{
            margin: 30px 0 75px;

            h4{
                @include roboto-regular;
                font-size: 40px;
                color: red;
                margin-bottom: 30px;
            }
            h5{
                @include roboto-regular;
                font-size: 32px;
                margin-bottom: 20px;
            }
            a{
                @include aFront;
            }
        }
    }
}

/* BackButton */

.backButton{
    cursor: pointer;
    @include aFront;
}

/* Alerte Transfer */

.alertTransferContainer{
    display: none;
    width:100%;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255,80%);
    justify-content: center;
    align-items: center;

    .alertTransfer{
        border: solid 2px black;
        width: 80%;
        min-height: 20vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Mentions légales */ 

.legals{
    
    #mentions_title{
        margin-top: 25px;
        @include roboto-bold;
        a{
            @include aFront;
        }
    }
    #mentions_text{
        margin-bottom: 25px;
        h3{
            @include roboto-bold;
        }
        p{
            @include roboto-regular;
        }
    }
}

/* focus des input */
.form-control:focus {
    box-shadow: none !important;
}
  
/* Pagination */

.selfPagination{
    .arrow{
        background-color: none;
        margin: 0 10px;
        a{
            border: none;
            color: black;
            font-size: 25px;
        }
        &.disabled{
            display: none;
        }
    }
    .number{ 
       a{
            border: solid 1px black;
            border-radius: 10px;
            color: black;
            font-size: 22px;
            padding: 0 10px;
            margin: 8px 5px;
       }
       &.active a{
        color: $white;
        background-color: $greenColor;
       }
    }
}

/* Panier */
.panier{
    .wrapper{
        .slideFormulaire{
            .formulaire{
                .cart{
                    p{
                        @include roboto-regular;
                        font-size: 22px;
                    }
                    .divAchat{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        flex-wrap: wrap;

                        p{
                            margin-right: 20px;
                            margin-bottom: 0;
                            @include roboto-regular;
                        }
                        .delButton{
                            background-color: red;
                            padding: 2px 10px;
                            border-radius: 10px;
                            color: $white;
                            cursor: pointer;
                            user-select: none;
                        }
                    }
                }
                .total{
                    @include roboto-bold;
                    font-size: 22px;
                }
                form{
                    #cart{
                        div{
                            /* on supprime l'affichage du ticket et du montant total du formulaire */
                            &:nth-child(4),&:nth-child(5){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Cookies */

.cookie{
    width: 100%;
    min-height:50px;
    background-color: $greenColor;
    position: fixed;
    z-index:300;
    bottom: 0;
    left: 0;
    border: solid 1px white;
    .wrapper{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h6{
            margin: 10px 20px;
            @include roboto-regular;
            color: $white;
        }
        .cookieAccept{
            background-color: black;
            @include roboto-regular;
            color: white;
            border-radius: 10px;
            padding: 5px 20px;
            margin: 10px 20px;
            cursor: pointer;
            &:hover{
                background-color: white;
                color: black;
            }
        }
    }
}

.cookie.cookieAccepted{
    display: none;
}

/* Stripe */

.afterStripe{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4,h5,h6{
        @include roboto-bold;
    }

    h4{
        margin-bottom: 30px;
    }
    h5{
        margin-bottom: 20px;
    }

    p{
        @include roboto-regular;
    }
}

/* ScrollToTop */

.scrollTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 2%;
    width: 50px;
    height: 50px;
    background-color: $greenColor;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    z-index: 9999;

    &:hover{
        background-color: white;
        border: solid 1px black;
        color: $greenColor;
    }
}

/* Message quand la recherche ne donne rien */

.searchNotFound{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
    h3{
        @include roboto-regular;
    }
}

.imageSuivi{
    height:50vh;
    object-fit: contain;
}

/* Panier vide */
.emptyCart{
    color:red;
}

/* Media queries */ 

@media all and (max-width:1200px){
    tr{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

@media all and (max-width:650px)
{
    .cookie{
        .wrapper{
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media all and (max-width:460px){

    .afterStripe{
        .buttonsCancelStripe{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
