@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
@import "mixins.scss";
@import "variables.scss";

/* Accueil */

#home{
    display: flex;
    background-image: url("/public/images/Vector2.svg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    .left{
        width: 50%;
       .wrapper{
        height:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3{
                @include romanesco-regular;
                font-size: 100px;
                text-align: center;
            }
            img{
                margin: 40px 0;
            }
            p{
                @include roboto-regular;
                font-size: 22px;
                align-self: flex-start;
            }
       }        
    }
    .right{
        width:50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        /* Slider */
        .containerSlider{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            .containerSlide{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .containerPensionnaire{
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: #F3F3F3;
                    border: solid 1px $greenColor;
                    img{
                        width: 90%;
                        height: 50vh;
                        object-fit: cover;
                        margin: 20px;
                    }
                    .animalTypeHome{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        h5{
                            align-self: self-start;
                            margin-left: 20px;
                            @include roboto-bold;
                            font-size: 24px;
                        }

                        p{
                            margin-right: 20px;
                            font-size: 24px;
                        }
                    }
                    h6{
                        align-self: self-start;
                        margin-left: 20px;
                        @include roboto-bold;
                        font-size: 24px;
                    }
    
                    &.notShow{
                        display: none;
                    }
                    &:nth-child(1),&:nth-child(3),&:nth-child(5),&:nth-child(7){
                        margin-right: 20px;
                    }

                    a{
                        align-self: flex-end;
                        margin-right: 20px;
                    }
                }
            }

            .arrowLeft{
                font-size: 2rem;
                cursor: pointer;
                margin-right: 10px;
                &.disabled{
                    display: none;
                }
            }
            .arrowRight{
                font-size: 2rem;
                cursor: pointer;
                margin-left: 10px;
                &.disabled{
                    display: none;
                }
            }
        }
    }
}

/* Présentation */

#pres{
    display: flex;
    .left{
        width:50%;
        background-image: url("/public/images/pres.webp");
        background-position: center center;
        background-size: cover;
    }
    .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            img{
                width: 150px;
            }
            h4{
                margin-left: 20px;
                @include romanesco-regular;
                font-size: 75px;
            }
        }
        p{
            @include roboto-regular;
            font-size: 20px;
            margin-top: 30px;
        }
        .buttons{
            display: flex;
            justify-content: space-evenly;
        }
    }
}

/* Pensionnaires */

#pensionnaires{
    background-image: url("/public/images/Vector.svg");
    background-position: bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .wrapper{
        h2{
            margin-top: 50px;
            @include roboto-bold;
            font-size: 40px;
        }
        .descriptionPensionnaire{
            margin-top: 30px;
            width: 50%;
            @include roboto-regular;
            font-size: 18px;
        }
        .pensionnaires{
            margin-top: 75px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .pensionnaire{
                margin: 30px 0;
                width: 22%;
                height:50vh;
                background-color: $greenColor;
                cursor: pointer;

                .container{
                    display: none;
                    transition: all 0.3s ease-in-out;
                    width: 100%;
                    height: 100%;
                    background-image: url("/public/images/fondPensionnaire.webp");
                    background-position: center center;
                    background-size: cover;
                    flex-direction: column;
                    justify-content: end;
                    h6{
                        color: white;
                        @include roboto-bold;
                        font-size: 22px;
                    }
                    p{
                        color: white;
                        @include roboto-regular;
                        font-size: 16px; 
                    }
                    a{
                        border: solid 1px white;
                        align-self: flex-end;
                    }
                }
                .container.active,.container.activeHover{
                    display: flex;
                }
            }
            #paw{
                margin: 30px 0;
                background-image: url("/public/images/Maskgroup.webp");
                background-position: center center;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22%;
                height:50vh;
                background-color: $greenColor;
            }
            #cat{
                background-image: url("/public/images/cat.webp");
                background-position: center center;
                background-size: cover;
            }
            #dog{
                background-image: url("/public/images/dog.webp");
                background-position: center center;
                background-size: cover;
            }
            #rabbit{
                background-image: url("/public/images/rabbit.webp");
                background-position: center center;
                background-size: cover;
            }
        }
    }
}


/* Contact */

#slideContact{
    display: flex;
    .left{
        width:40%;
        background-image: url("/public/images/contactFond.webp");
        background-position: center center;
        background-size: cover;

        .title{
            display: flex;
            margin-top: 50px;
            align-items: center;
            justify-content: center;
            color: $white;

            img{
                margin-left: 20px;
                width: 100px;
                height:100px;
            }
        }
    }
    .right{
        width: 60%;
        display: flex;
        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                @include roboto-regular;
                margin: 50px 0;
            }
            .formulaireContact{
                form{

                    #contact{
                        @include roboto-regular;

                        input{
                            border: solid 1px $greenColor
                        }
                        textarea{
                            border: solid 1px $greenColor;
                            height:300px;
                            resize: none;
                        }
                    }
                }
                .boutonContact{
                    @include buttonFront;
                }
            }
        }
    }
}

@media all and (max-width:1500px){
    .right{
        .containerSlider{
            .containerSlide{
                .containerPensionnaire{
                    width:80% !important;
                    margin-right: 0 !important;
                }
            }
        }
    }
}

@media all and (max-width:1400px){
    #pensionnaires{
        .wrapper{
            .pensionnaires{
                .pensionnaire,#paw{
                    width: 45%;
                }
            }
        }
    }
}

@media all and (max-width:1000px){
    #home{
        flex-direction: column;
        .left{
            width: 100%;
        }
        .right{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .containerSlider{
                margin: 30px 0;
                .containerSlide{
                    width: 70%;
                    .containerPensionnaire{
                        img{
                            height:40vh;
                        }
                    }
                }
            }
        }
    }

    #pres{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .left{
            display: none;
        }
        .right{
            width: 100%;
        }
    }
    #pensionnaires{
        .wrapper{
            .descriptionPensionnaire{
                width: 100%;
            }
        }
    }
    #slideContact{
        flex-direction: column;
        .left{
            width: 100%;
            height:100vh;
        }
        .right{
            width: 100%;
        }
    }
}

@media all and (max-width:600px)
{
    #home{
        .right{
            .containerSlider{
                .containerSlide{
                    width: 90%;
                    .containerPensionnaire{
                        width: 100% !important;
                        img{
                            height:40vh;
                        }
                    }
                }
            }
        }
    }

    #pensionnaires{
        .wrapper{
            .pensionnaires{
                .pensionnaire{
                    width: 100%;
                }
                #paw{
                    display: none;
                }
            }
        }
    }
}

@media all and (max-width:470px)
{
    #pres{
        .right{
            .wrapper{
                .title{
                    flex-direction: column;
                    h4{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media all and (max-width:400px)
{
    #pres{
        .right{
            .wrapper{
                .buttons{
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}