<div style="width:80%;margin:0 auto;">
    <div style="margin: 50px 0;">
        <h4>Nom de l'association : Coup de patte</h4>
        <h4>SIRET : 123456789000</h4>
        <h4>Adresse : Rue de l'imaginaire 1</h4>
        <h4>Code postal : 0000</h4>
        <h4>Ville : ImagineCity</h4>
        <h4>Téléphone : 123456789</h4>
    </div>
    <div style="display:flex;justify-content:center;margin-bottom:50px;">
        <h2>Reçu de don</h2>
    </div>
    <h4>Date : {{ "now"|date("d/m/Y") }}</h4>
    <h4>Don reçu de : {{donateur}}</h4>
    <h4>Montant : {{montant}}</h4>
    <div style="display:flex;justify-content:center;">
        <h4>Coup de patte et toute son équipe vous remercie pour votre don à leur association</h4>
    </div>
</div>