<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CoupDePatte - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/logo/Union.png">
        <meta name="description" content="Quentin Testaert coach sportif">
        <meta name="google" content="notranslate"/>
        <meta property="og:title" content="Coup de patte, refuge animalier">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/logo/Union.png">
        <meta property="og:image:width" content="1800">
        <meta property="og:image:height" content="945">
        <meta property="og:url" content="https://coupdepatte.alexandresacre.com/">
        <meta property="og:description" content="Coup de patte, le refuge animalier pour vos chats,chiens et lapins">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="Coup de patte">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@CoupDePatte">
        <meta name="twitter:title" content="Coup de patte, refuge animalier">
        <meta name="twitter:description" content="Coup de patte, refuge animalier">
        <meta name="twitter:image" content="/logo/Union.png">
        <meta name="robots" content="noindex,nofollow">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% include "partials/header.html.twig" %}
        {% include "partials/_cookies.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
        {% block javascriptsCookie %}
            <script>
                const cookie = document.querySelector('.cookie')
                const cookieAccept = document.querySelector('.cookieAccept')

                if(localStorage.getItem('cookie')){
                    cookie.classList.add('cookieAccepted')
                }
                cookieAccept.addEventListener('click',()=>{
                    localStorage.setItem('cookie','CDPCookieAccepté')
                    cookie.classList.add('cookieAccepted')
                })
            </script>
        {% endblock %}
    </body>
</html>