{% extends "base.html.twig" %}

{% block title %}Erreur 403{% endblock %}

{% block body %}
    <div class="erreur">
        <div class="wrapper">
            <img src="/images/error403.webp" alt="Image Erreur 404">
            <div class="textErreur">
                <h4>Erreur 403</h4>
                <h5>L'accès à la page demandée vous est refusé</h5>
                <a href="{{path('home')}}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}