{% extends 'base.html.twig' %}

{% block title %}Suivi{% endblock %}

{% block body %}
    <div class="slide">
        <div class="wrapper">
            <div class="slideFormulaire">
                <img src="/logo/Union.png" alt="Logo de coup de patte">
                <div class="formulaire">
                    <a href="{{path('home')}}" class='backButton'>Retour à l'accueil</a>
                    <h6>Faire un suivi</h6>
                    {{form_start(myForm)}}
                        {{form_widget(myForm)}}
                        <div class="buttonFormulaire">
                            <button type="submit">Envoyer</button>
                        </div>
                    {{form_end(myForm)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
